<header>
	<nav class="cf">
		<ul class="topmenu">
      <li>
        <p class="menu">
      </li>
      <li>
        <a href="{{site.url}}/screening.html" class="menu">Screening</a>
        <ul class="submenu">
          <li><a href="{{site.url}}/screening.html#manual-screening" class="menu">Manual screening</a></li>
          <li><a href="{{site.url}}/screening.html#screening-with-topic-models" class="menu">Topic models</a></li>
        </ul>
      </li>
      <li>
        <a href="{{site.url}}/deduplication.html" class="menu">Deduplication</a>
        <ul class="submenu">
          <li><a href="{{site.url}}/deduplication.html#locating-duplicates" class="menu">Locating duplicates</a></li>
          <li><a href="{{site.url}}/deduplication.html#screening-duplicates" class="menu">Screening duplicates</a></li>
          <li><a href="{{site.url}}/deduplication.html#working-with-large-datasets" class="menu">Large datasets</a></li>
          <li><a href="{{site.url}}/deduplication.html#classifying-duplicates-by-source" class="menu">Classifying by source</a></li>
        </ul>
      </li>
      <li>
        <a href="{{site.url}}/data.html" class="menu">Data</a>
        <ul class="submenu">
          <li><a href="{{site.url}}/data.html#accepted-formats" class="menu">Accepted formats</a></li>
          <li><a href="{{site.url}}/data.html#importing-to-r" class="menu">Importing to R</a></li>
          <li><a href="{{site.url}}/data.html#internal-data-structures" class="menu">Internal structures</a></li>
        </ul>
      </li>
      <li>
        <a href="{{site.url}}/introduction.html" class="menu">Introduction</a>
        <ul class="submenu">
          <li><a href="{{site.url}}/introduction.html#what-is-r" class="menu">What is R?</a></li>
          <li><a href="{{site.url}}/introduction.html#getting-started" class="menu">Getting Started</a></li>
        </ul>
      </li>
      <li>
        <a href="{{site.url}}" class="menu">Home</a>
      </li>
		</ul>
	</nav>
</header>