---
---

@import "{{ site.theme }}";

a:link {
	color: #4a3384;
	text-decoration: none;
	border-bottom: none;
}

a:visited {
	color: #4a3384;
	text-decoration: none;
	border-bottom: none;
}

a:hover {
	color: #4a3384;
	text-decoration: none;
	border-bottom: none;
}

a:active {
	color: #4a3384;
	text-decoration: none;
	border-bottom: none;
}
