/**
 * New header
 * from https://gist.githubusercontent.com/liquidwebgists/5428995/raw/01aa7b10a7d6cea3fd8b856ac282a3829c656bb3/gistfile1
 */
 p.menu {
  padding-right: 100px;
 }

 a.menu {
  color: white;
  &:visited {
    color: #dbdbdb;
  }
 }

 nav {
   background: #27114D;
   height: 2.3em;
 }

 ul, li {
   margin: 0px;
   padding: 0px;
   list-style: none;
   float: right;
 }
 ul {
   background: #27114D;
   height: 2em;
   width: 100%;
 }
 li {
   position: relative;
 }
 li a {
   display: block;
   line-height: 2em;
   padding: 0 1em;
   color: white;
   text-decoration: none;
 }
 li a:hover, .topmenu li:hover > a {
   background: #716980;
   height: 2em;
   padding-top: .3em;
   position: relative;
   top: -.3em;
   border-radius: .3em .3em 0 0;
 }
 .current, a:hover.current, .topmenu li:hover a.current {
   background: #928aa1;
   color: #eee;
   padding-top: .3em;
   border-radius: .3em .3em 0 0;
   position: relative;
   top: -.3em;
   border-bottom: .3em solid #716980;
   cursor: default;
   &:visited {
     color: #dbdbdb;
   }
 }

 /*dropdown menu styles*/

 .submenu {
   float: none;
   background: #716980;
   width: auto;
   height: auto;
   position: absolute;
   top: 2em;
   left: -9000em;
   max-height: 0;
   -webkit-transition: max-height 0.5s ease-in-out;
   -moz-transition: max-height 0.5s ease-in-out;
   -o-transition: max-height 0.5s ease-in-out;
   -ms-transition: max-height 0.5s ease-in-out;
   transition: max-height 0.5s ease-in-out;
 }

 .submenu li {
   float: none;
 }

 .topmenu li:hover ul {
   left: 0;
   max-height: 10em;
 }

 ul.submenu li a {
   border-bottom: 1px solid white;
   padding: .2em 1em;
   white-space: nowrap;
 }
 ul.submenu li:last-child a {
   border-bottom: none;
 }
 ul.submenu li a:hover {
   background: #716980;
   height: 2em;
   padding-top: .2em;
   top: 0;
   border-radius: 0;
 }

 /**
  * Set class default for ul and li
  */
  ol.default {
    display: block;
    height: auto;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
  ul.default {
    float: none;
    background: none;
    height: auto;
    width: 100%;
    display: block;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    padding-bottom: 10px;
  }
  li.default {
    float: none;
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
  }



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
  background: #fff;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width:         calc(100% - (#{$spacing-unit} / 2));
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1,
.footer-col-2 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width:         calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col {
    float: left;
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;
  background: transparent;
  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.125);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.25);
    }
  }
}


.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 0 5px;
    &:first-of-type { margin-left: 0 }
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: $spacing-unit / 4;
      border: 1px solid $grey-color-light
    }
    &:hover .svg-icon { fill: currentColor; }
  }
}


/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }
}
