<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="https://revtools.net">
          <img src="/assets/img/revtools_banner.png"
            alt="revtools hex logo"
            width="440"
            height="70"/>
        </a>
        <div>Version 0.3.0 User Manual</div>
        <br>
        <b>Table of Contents</b>
        <br>
        <br>
        <p>
          <a href="/user_manual/1_introduction.html">
            Introduction
          </a>
        </p>
        <p>
          <a href="/user_manual/2_getting_started.html">
            Getting started
          </a>
        </p>
        <p>
          <a href="/user_manual/3_importing_data.html">
            Importing data
          </a>
        </p>
        <p>
          <a href="/user_manual/4_removing_duplicates.html">
            Removing duplicates
          </a>
        </p>
        <p>
          <a href="/user_manual/5_manual_screening.html">
            Manual screening
          </a>
        </p>
        <p>
          <a href="/user_manual/6_screening_with_topic_models.html">
            Screening with topic models
          </a>
        </p>
        <p>
          <a href="/user_manual/7_examples.html">
            Examples
          </a>
        </p>
        <br>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
