<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="https://revtools.net">
          <img src="/assets/img/revtools_banner.png"
            alt="revtools hex logo"
            width="440"
            height="70"/>
        </a>
        <div>Version 0.3.0 User Manual</div>
        <br>
        <b>Table of Contents</b>
        <br>
        <br>
        <p>
          <a href="/user_manual/1_introduction.html">
            1. Introduction
          </a>
        </p>
        <p>
          <a href="/user_manual/2_getting_started.html">
            2. Getting Started
          </a>
          <br>
          <a href="/user_manual/2_getting_started#2.1.-downloading-and-installing-r.html">
            &nbsp;2.1. Downloading and Installing R
          </a>
          <a href="/user_manual/2_getting_started#2.2.-installing-revtools.html">
            &nbsp;2.2. Installing revtools
          </a>
          <a href="/user_manual/2_getting_started#2.3.-getting-data.html">
            &nbsp;2.3. Getting Data
          </a>
        </p>
        <p>
          <a href="/user_manual/3_functions.html">
            3. Functions
          </a>
        </p>
        <p>
          <a href="/user_manual/4_screening.html">
            4. Screening
          </a>
        </p>
        <p>
          <a href="/user_manual/5_examples.html">
            5. Examples
          </a>
        </p>
        <p>
          <a href="/user_manual/6_appendices.html">
            6. Appendices
          </a>
        </p>
        <br>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
