<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="/assets/img/revtools_banner.png"
          alt="revtools hex logo"
          width="440"
          height="70"/>
        <div>Tools for Evidence Synthesis in R</div>
        <br>
        <b>Table of Contents</b>
        <br>
        Sections:
        <p>
          <a href="/manual/chapter_1_overview.html">Overview</a>
        </p>
        Appendices:
        <p>
          <a href="/manual/appendix_1_new_to_R.html">New to R?</a>
        </p>
        <br>
        <br>
        <p>
          <a href="https://revtools.net">
            <i class="fa fa-home fa-lg"></i>&nbsp revtools home
          </a>
        </p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
